/* Created By : Sangwin Gawande (https://sangw.in) */
.virtual-scroll-container {
    height: 100%;
    background-color: lightblue;
    font-weight: bold;
}

.virtual-scroll-item {
    border: 1px solid black;
    padding: 10px;
    height: 50px;
}

/* Created By : Sangwin Gawande (https://sangw.in) */